@font-face {
    font-family: 'IBM-Plex-Sens-Regular';
    src: url("IBMPlexSans-Regular.ttf");/*400*/
    font-style: normal;
    font-weight: 400;
  }
.content:hover {             /*псевдокласс hover*/
    color: rgb(255, 0, 0);
}
.button:focus {               /*псевдокласс focus*/
    background-color: brown;
}
.list__links li:first-child {
    font-size: 30px;
    color: rgb(255, 0, 0);
}
.list__links li:last-child {
    font-size: 30px;
    color: rgb(0, 60, 255);
}
.list__links li:nth-child(3){
    color: rgb(9, 255, 0);
}
.text1 p:last-of-type{
    border: 2px solid crimson;
}
.text1 p:first-of-type{
    border: 2px solid rgb(20, 23, 220);
}
.text1 p:not(.class1){
    font-size: 25px;
}
.text1::before{
    content: "ТЕКСТ before";
    display: block;
    height: 20px;
    background-color: hotpink;
}
.text1::after{
    content: "ТЕКСТ after";
    display: block;
    height: 20px;
    background-color:orange;
}