@font-face {
    font-family: 'IBM-Plex-Sens-Regular';
    src: url("IBMPlexSans-Regular.ttf");/*400*/
    font-style: normal;
    font-weight: 400;
  }

* {
   font-family: 'IBM-Plex-Sens-Redular';
   font-weight: 400;
   font-style: normal;
}
p {
    color: black
   } 
.select1 {
    background-color: grey;
}
.select2 {
    font-size: 20px;
}
.h1,.h2 {
 border: 5px;  
 border-color: chartreuse;
 border-radius: 5px;
 background-color: cadetblue; 
}
.text {
    font-variant: small-caps;
}
.menu > a {         /*селектор для дочернего элемента*/
color: darkred;
}
.menu li a {        /*селектор для внутренних элементов (потомков)*/
color: green;    
}

#mist {                   /*селектор индитефикатор*/
    color: red;
}
h3 + .description  {     /*Общий селектор смежных элементов*/
    border: solid 3px;
    border-color: brown;
}
.h3 ~ .description {
    border: solid 3px;
    border-color: green;
}
input[type="text"]{        /*селектор атрибутов*/
    box-sizing: border-box;
    color: rgb(255, 0, 0);
    background-color: grey;
    margin-top: 10px;
}
